* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


:root{
    --header-height:60px;
    --footer-height:40px;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */

html{
    height:100%;
}
body {
    line-height: 1.7em;
    color: #31373c;
    font-size: 12pt;
    font-family: 'Raleway', sans-serif;
    height:100%;
}

main.full-height{
    min-height:100%;
    margin-top:var(--header-height);
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #48525b;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

.padding-10{
    padding:5px;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    height:var(--header-height);
    z-index:4;
    padding: 0.5em;
    text-align: center;
}

.home-menu {
    background-color: rgb(255,255,255);
    border-bottom:1px solid rgba(255,255,255,0.5);  
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;  
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 99;
}

.home-menu .pure-menu-heading {
    color:#09b169;
    font-size: 1.4em;
    font-weight:400;
    text-transform:none;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.pure-menu-list a {
    color: #404241;
    transition: color 0.5s;
    text-transform:uppercase;
    font-size:0.9em;
    font-weight:500;
}
.pure-menu-list li a:hover,
.pure-menu-list li a:focus {
    background: none;
    border: none;
    color: #a1a7a4;
}

/* -- FULL PAGE MENU STYLES -- */
.menu-toggle {
  display:none;
  width: 40px;
  height: 30px;
  margin-right:1.5em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #7ad8b0;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.menu-toggle span:nth-child(1) {
  top: 0px;
}

.menu-toggle span:nth-child(2),.menu-toggle span:nth-child(3) {
  top: 12px;
}

.menu-toggle span:nth-child(4) {
  top: 24px;
}

.menu-toggle.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.menu-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-toggle.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.full-page-menu .pure-menu-list{
  display:none;
}


/*
 * -- SPLASH STYLES --
 * This is the top section that appears on the page.
 */

.splash-container {
    background: url(../imgs/Castle-background.jpg);
    background-size: cover;
    z-index: 1;
    padding:10px;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height:95%;
    top:var(--header-height);
    left: 0;
    position: fixed !important;   
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center; 
}

.splash {
    /* absolute center .splash within .splash-container */
    padding:3em 6em;
    text-align: center;
    border:1px solid white;
    background-color:rgba(0,0,0,0.3);
    margin-top:calc(-5% - 20px);

}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20pt;
    font-weight: 300;
    color: white;        
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 96%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

content .p{
    font-size:1.1em;
    font-weight:300;
}

.ribbon p{
    font-weight:300;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #dfdfdf;
}

/* Overriding slider style */
.l-box-custom{
    padding:30px;
}

.slider img {
    max-height: 60vh;
    padding: 5px;
}

/* slider arrows */
.slick-prev {
    left: -35px !important;
}

.slick-next {
    right: -40px !Important;
}

.slick-prev, .slick-next {
    width: 35px !important;
}

.slick-prev:before,
.slick-next:before {
    font-size: 35px !important;
    color: #9ea0a2 !important;
}


/* This is the class used for the footer */
.footer {  
  width: 100%;
  height: var(--footer-height);
  z-index:1;
  background: #ffffff;
  color:#434343;
  font-weight:200;
  font-size:0.8em;
}

.thumbnail{
    height:100px;    
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {
    
    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }
   
    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

@media (max-width: 47em){
  .menu-toggle{
    display:inline-block !important;
  }

  .pure-menu-horizontal .pure-menu-list{
    display:none;
  }

  .full-page-menu .pure-menu-list {
    display:flex !important;
    flex-direction:column;
    justify-content:space-evenly;
    position:fixed;
    top:var(--header-height);
    left:0;
    height:calc(100vh - var(--header-height));      
    width:100vw;
    float:none;
    font-size:2em;
    background: transparent;            
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    transition: background 500ms ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
      
  }

  .full-page-menu.open .pure-menu-list{  
    background: white;
    z-index: 10;
  }
    
  .full-page-menu .pure-menu-item {
    display: block; 
    height:auto;   
    opacity: 0;
    text-align:center;
    text-transform:uppercase;    
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  .full-page-menu.open .pure-menu-item {
      opacity: 1;
  }
}